<?xml version="1.0"?>
<!--
  ~ Copyright © 2017 Magestore. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="inventorysuccess_new_order_warehouse">
        <observer name="magestore_m2esuccess_create_order_item" instance="Magestore\M2eIntegration\Observer\Order"/>
    </event>

    <event name="inventorysuccess_create_shipment_warehouse">
        <observer name="magestore_m2esuccess_ship_order_item" instance="Magestore\M2eIntegration\Observer\Shipment"/>
    </event>

    <event name="mepro_order_place_integration_inventory">
        <observer name="magestore_m2esuccess_order_integration_start" instance="Magestore\M2eIntegration\Observer\M2eOrderStart"/>
    </event>

    <event name="mepro_order_place_failure">
        <observer name="magestore_m2esuccess_order_integration_fail" instance="Magestore\M2eIntegration\Observer\M2eOrderFail"/>
    </event>

    <event name="mepro_order_place_success">
        <observer name="magestore_m2esuccess_order_integration_success" instance="Magestore\M2eIntegration\Observer\M2eOrderSuccess"/>
    </event>


</config>
